@import url("https://fonts.googleapis.com/css?family=Changa");

body {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  align-content: center;
}

.container {
  margin: 5px;
  top: 0;
  width: 1280px;
  height: 100%;
  background: #ffffff;
}

.logo {
  color: #fff;
  position: absolute;
  background: #fb6542;
  padding: 0 20px;
  height: 40px;
  overflow: hidden;
  border: solid 0px;
  margin-left: 80%;
  border-radius: 0px 0px 0px 0px;
}

.line {
  /*/text-transform: uppercase;*/
  text-align: center;
  font-size: 25px;
  line-height: 35px;
}

.line:first-child {
  animation: anim 6s infinite;
}

@keyframes anim {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -35px;
  }
  100% {
    margin-top: 0;
  }
}

.bottom {
  position: absolute;
  top: 96%;
  transform: translateY(-96%);
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  height: 25px;
  margin: 0px;
  overflow: hidden;
  position: relative;
  font-size: 17px;
  padding: 0px;
  /*border-radius: 0%;
  box-shadow: 0 5px 20px -5px;*/
}

.btn.battingteam {
  background: #c5001a;
  width: 35px;
  color: white;
}

.btn.total {
  background: #fbfaf9;
  width: 45px;
  color: #6c6c6c;
}

.btn.totalovers {
  background: #ff4447;
  width: 60px;
  color: white;
}

.btn.batsman {
  background: #606c88;
  width: 380px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  font-family: Changa;
  text-align: center;
}

.btn.bolwer {
  background: #217ca3;
  width: 200px;
  color: white;
  font-family: Changa;
  text-align: center;
}

.btn.bowlingteam {
  background: #113743;
  width: 35px;
  color: white;
}

.space {
  padding: 2px;
}
.space5 {
  padding: 20px;
}

.smallfont {
  font-family: Courier New, Courier, monospace;
  font-size: 12px;
  /*text-shadow: 1px 1px 2px black;*/
}

.bolwerscoresmallfont {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.run_btn {
  margin: 1px;
  background: #336b87;
  color: #fff;
  font-weight: bold;
  border: none;
}

.extra_btn {
  margin: 1px;
  background: #763626;
  color: #fff;
  font-weight: bold;
  border: none;
}

.wicket_btn {
  margin: 1px;
  font-weight: bold;
}
