body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.container {
  text-align: center;
  align-content: center;
  width: 100%;
}

.innercontainer {
  position: inherit;
  height: 100px;
  text-align: center;
  align-content: center;
  width: 100%;
}

.innercontainer.batting {
  margin: 2px;
  height: 100px;
  display: inline-block;
  text-align: center;
  align-content: center;
  width: 45%;
}

.title {
  width: 50px;
  text-align: left;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #eb7210;
}

.heading {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.text {
  border: 1px solid #eb7210;
  width: 30px;
  height: 20px;
  border-radius: 2px;
}

.run_btn {
  margin: 1px;
  width: 30px;
  padding: 3px;
  background: #2c3e50;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

.extra_btn {
  margin: 1px;
  background: #fb6542;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

.wicket_btn {
  margin: 1px;
  background: #d40606;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

.center {
  display: inline-block;
  width: 600px;
  text-align: center;
}

.team {
  margin-top: 40% !important;
  margin: 10px;
  padding: 5px;
  display: inline-block;
  position: relative;
  width: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  height: 50px;
  border-radius: 6px;
  color: white;
  box-shadow: 0 5px 20px -5px #6c6c6c;
  letter-spacing: 1px;
}

.team.home {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.playerorder {
  width: 100%;
  text-align: center;
  position: relative;
}

.playerlist {
  width: 280px;
  margin: 1px;
  padding-top: 1px;
  background: rgb(0, 0, 0, 0.8);
  box-sizing: border-box;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.playerlist ul {
  margin: 0px;
  padding: 1px;
  box-sizing: border-box;
}

.playerlist ul li {
  display: flex;
  background: rgb(255, 255, 255, 0.1);
  padding: 2px 2px;
  color: #fff;
  margin: 1px 0;
  border-radius: 3px;
}

.playerlist ul li:nth-child(odd) {
  background: rgb(255, 255, 255, 0.6);
}

.playerlist ul li:nth-child(even) {
  background: rgb(255, 255, 255, 0.4);
}

.playerlist ul li span:nth-child(1) {
  width: 230px;
}

.playerlist ul li span:nth-child(2) {
  width: 50px;
}
